<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href=".//public/css/swiper.css">
    <link rel="stylesheet" href=".//public/css/service.css">
    <script src="../vue/public/vue.js"></script>
</head>

<body>
    <div id="root">
        <div class="header">
            <img class="top-logo" src="./public/images/logo.png">
            <div class="heading">
                <ul class="items">
                    <li v-for="(item, index2) in top " v-on:click="change2(index2, item.href) "><a :class="{active: index2===currentIndex2} ">{{item.name}}</a> </li>
                </ul>
            </div>
        </div>
        <div class="cointainer">
            <img src="./public/images/2-服务项目-assets/goods_cover.png" width="100%">

        </div>
        <div class="searcher-border">
            <div class="searcher">
                <input placeholder="请输入服务名称 ">
                <button class="btc ">搜索服务</button>

            </div>
        </div>
        <div class="container2 ">
            <ul class="ul1">
                <li v-for="(item, index) in list " v-on:click="change(index) "><a :class="{active: index===currentIndex} ">{{item}}</a> </li>
            </ul>
        </div>

        <div class="content">
            <div class="item"><img src="../site/public/images/2-服务项目-assets/project_sample_item_1.png">
                <p class="word">ppt设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_2.png">
                <p class="word">信封设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"><img src="../site/public/images/2-服务项目-assets/project_sample_item_3.png">
                <p class="word">企业VI形象设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_4.png">
                <p class="word">来宾证/访客证设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_5.png">
                <p class="word">职位牌设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"><img src="../site/public/images/2-服务项目-assets/project_sample_item_6.png">
                <p class="word">工作证（识别卡）设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"><img src="../site/public/images/2-服务项目-assets/project_sample_item_7.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"><img src="../site/public/images/2-服务项目-assets/project_sample_item_8.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_9.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_10.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_11.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_12.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"><img src="../site/public/images/2-服务项目-assets/project_sample_item_13.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"><img src="../site/public/images/2-服务项目-assets/project_sample_item_14.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_15.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_16.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_17.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_18.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_19.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_20.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_21.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_22.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"><img src="../site/public/images/2-服务项目-assets/project_sample_item_23.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"><img src="../site/public/images/2-服务项目-assets/project_sample_item_24.png">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"><img src="../site/public/images/2-服务项目-assets/project_sample_item_25.png ">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_26.png ">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"><img src="../site/public/images/2-服务项目-assets/project_sample_item_27.png ">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_28.png ">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_29.png ">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"><img src="../site/public/images/2-服务项目-assets/project_sample_item_30.png ">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"><img src="../site/public/images/2-服务项目-assets/project_sample_item_31.png ">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>
            <div class="item"> <img src="../site/public/images/2-服务项目-assets/project_sample_item_29.png ">
                <p class="word">档案袋设计</p>
                <p class="word2">aaaaaaaa</p>
                <p class="word3">aaaaaa</p>
            </div>



        </div>

        <div class="footer ">
            <div class="container ">
                <p>服务项目</p>
                <p>服务案例</p>
                <p>加入我们</p>
                <p>关于小包子</p>
            </div>
            <p class="item2 ">COPYRIGHT © 2002-2019 333F.COM.INC.ALL RIGHTS RESERVED. 粤ICP备10217460号</p>

            <p class="item2 "><a class="link" href="http://www.333f.com ">友情链接： 广州市三川田文化科技股份有限公司</a></p>
        </div>
    </div>
    <script>
        var title2 = new Vue({
            el: '#root',
            data: {
                top: [{
                    name: '首页',
                    href: 'index.html'
                }, {
                    name: '服务项目',
                    href: 'service.html'

                }, {
                    name: '服务案例',
                    href: 'example.html'

                }, {
                    name: '加入我们',
                    href: 'joinus1.html'

                }, {
                    name: '关于我们',
                    href: 'index.html'

                }, {
                    name: '移动端'


                }, ],
                currentIndex2: 1,
                list: [
                    '精选',
                    '品牌设计',
                    '品牌策划',
                    '效果图',
                    '数字模型',
                    '视觉影视',
                    '软件平台',
                    '新媒体',
                    '互动展项',
                    '展览展示',
                    '包子优选',
                    '国际进驻',
                    '媒体推广',
                    '展厅运维'
                ],

                currentIndex: 0
            },
            methods: {
                change(index) {
                    console.log('@change ', index)
                    this.currentIndex = index
                },
                change2(index2, href) {
                    this.currentIndex2 = index2
                    console.log(href)

                    location.href = href
                }
            }
        })
    </script>

</body>

</html>